<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="csgomarket" transaction-type="RESOURCE_LOCAL">

        <class>com.alakey.csgomarket.entity.Item</class>
        <class>com.alakey.csgomarket.entity.UserEmployee</class>
    </persistence-unit>
</persistence>
